<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For All of Tracy - Results for </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../static/custom.css">
</head>
<body>
    <a href="/" class="fs-4 ms-3 mt-2 position-fixed">For All of Tracy</a>
        <div class="vw-100 vh-100 d-flex justify-content-center align-items-center flex-column">
         <h2 id="search-title" class="mb-4">Search Results for: {{ category }}</h2>
            <div id="cards-container" class="card" style="height: 37rem; overflow-y: scroll;">
                <div class="card-body d-flex flex-column justify-content-center" style="width: 34rem;" id="search-results-container">
                </div>
        </div>
    </div>
    <!--src="../static/searchResults.js"-->
    <script type="text/javascript">
        const vals = "{{ values }}";
        var businessName = {{ sb | tojson }};

        console.log(vals)
        console.log(businessName)

        const searchResultsContainer = document.getElementById("search-results-container")

        const createBusinessCard = (businessName) => {
            const card = document.createElement("div")
            card.className = "card my-2"
            card.innerHTML = `<div class="card-body">
                <h5 class="card-title">${businessName}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ businessinfo }}</h6>
            </div>`
            searchResultsContainer.appendChild(card)
        }
        
        window.onload = () => {
            const inputPrompt = localStorage.getItem("prompt");
            const searchTitle = document.getElementById("search-title")

            document.title = document.title += " " + inputPrompt
            // searchTitle.innerText += " " + inputPrompt

            // right now the page will display the business sb that is passed in through python return rendertemplate
            // need to somehow iterate through the list of business and create each care for each business
            // iteration is the key to success but idk js

            for (let i=0; i < vals; i++) {
                // console.log(businessName[i])
                createBusinessCard(businessName[i]);
                
            }
        
        }
    </script>

</body>
</html>