<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For All of Tracy</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<style>
    header {
        background-color: #666;
        padding: 50px;
        text-align: center;
        font-size: 35px;
        color: black;
        font-family: Verdana;
  }

  button {
        background-color: #666;
        padding: 10px;
        text-align: left;
        font-size: 15px;
        font-family: Verdana;
        color: black;
  }

</style>
<body>
    


    <header>
        <h1>For All of Tracy</h1>
    </header>

    <div>
        <form action="/business1">
            <button name="businessex1">Business Example 1</button>
        </form>
    </div>
</body>
</html>