* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242424; /* Darker background for navbar */
    padding: 12px 20px;
    border-radius: 60px; /* Rounded edges */
    /* Navbar width */
    width: 60%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    
    position: absolute;
    top: 7px; /* Slightly down from the top */
    left: 50%; /* Move to the center horizontally */
    transform: translateX(-50%); /* Center it perfectly */
    backdrop-filter: blur(20px); /* Adjust blur intensity */

    border: 2px solid rgba(0, 0, 0, 0.2); /* Optional subtle border */


    

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    overflow: hidden;

}

.logo {
    height: 40px;
    width: 40px;
    background-image: url(./LOGOFAT.png);
    background-size: 130%; /* Ensures the image scales to fit */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    border-radius: 50%; /* Keeps it circular */
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 20px; /* Space between links */
    color: white;
    
}

.nav-links li {
    height: 20px;
    width: 80px; /* Placeholder size for nav items */
    background-color: #333; /* Darker placeholder for nav text */
    border-radius: 5px;

    align-content: center;
}

.buttons {
    display: flex;
    gap: 10px;
}